<div class="title">
  <div class="neon-box">
    <img src="../../../assets/icons/rocket-white.png" alt="rocket">
  </div>
  <h2 class="section-title">Proyectos</h2>
</div>

<section class="container projects-section">
  <div class="sidebar-line"></div>

  <!-- Proyectos en grupo -->
  <div class="projects">
    <div class="projects-group">
      <h3 class="projects-subtitle group-subtitle">Proyectos en Grupo</h3>
      <div class="project-card">
        <h4 class="project-title">Fairsplit</h4>
        <img class="project-image" src="../../../assets/proyects/fairsplit-welcome.png" alt="Imagen del proyecto Fairsplit">
        <div class="content-hidden">
          <span class="project-description group-description hidden">Fairsplit es una aplicación que permite dividir y gestionar gastos compartidos en grupo de manera sencilla, mostrando quién debe a quién. Es ideal para viajes o eventos, facilitando la organización de los pagos y saldos.</span>
          <img class="project-image2 hidden" src="../../../assets/proyects/fairsplit-home.jpg" alt="Imagen del proyecto Fairsplit">
        </div>
      </div>
    </div>

    <!-- Proyectos Personales -->
    <div class="projects-personal">
      <h3 class="projects-subtitle personal-subtitle">Proyectos Personales</h3>
      <div class="project-card">
        <h4 class="project-title">Plataforma de E-learning</h4>
        <p class="project-description personal-description">Estoy desarrollando una Aplicación de Gestión Familiar Integral que facilita la organización y el bienestar en el hogar, incluyendo herramientas para listas de tareas, seguimiento de hábitos, planificación de comidas, un historial médico centralizado, etc. Utilizo Node.js, Express y SQL para el backend, y Angular para el frontend, asegurando una experiencia de usuario intuitiva. Esta aplicación ofrece una solución completa para mejorar la comunicación y la gestión de responsabilidades dentro de la familia.</p>
      </div>
    </div>
  </div>
</section>
