<div class="title">
    <div class="neon-box">
      <img src="../../../assets/icons/training-white.png" alt="rocket">
    </div>
    <h2 class="section-title">Formación</h2>
</div>

<section class="container trainings-section">
    <div class="sidebar-line"></div>
  
    <!-- Proyectos en grupo -->
    <div class="trainings">
      <div class="trainings-group">
        <h3 class="trainings-subtitle group-subtitle-profesional">Académica y Profesional</h3>
        <div class="trainings-list-profesional">
            <div class="training-card-profesional">
                <h4 class="training-title">Programa Profesional en Full Stack Developer</h4>
                <div class="location-info">
                    <img class="location-icon" src="../../../assets/icons/location-white.png" alt="Localización">
                    <span class="location-text">Unir (Universidad Internacional de la Rioja)</span>
                </div>
                <div class="training-image-profesional">
                    <img class="training-image" src="../../../assets/proyects/qualification-fullstack.jpg" alt="Imagen del proyecto Fairsplit">
                    <img class="training-image" src="../../../assets/proyects/qualification-fullstack-2.jpg" alt="Imagen del proyecto Fairsplit"> 
                </div>        
        </div>
      </div>
      <div class="trainings-group">
        <h3 class="trainings-subtitle group-subtitle-complementary">Complementaria</h3>
        <div class="trainings-list">
            <div class="training-card">
                <h4 class="training-title">CFGS en Telecomunicaciones y Sistemas Informáticos</h4>
                <div class="location-info">
                    <img class="location-icon" src="../../../assets/icons/location-white.png" alt="Localización">
                    <span class="location-text">Colegio Santo Domingo Savio</span>
                </div>
            </div>
            <div class="training-card">
                <h4 class="training-title">Curso en Diseño y Estructura con HTML y CSS</h4>
                <div class="location-info">
                    <img class="location-icon" src="../../../assets/icons/location-white.png" alt="Localización">
                    <span class="location-text">Unir (Universidad Internacional de la Rioja)</span>
                </div>
            </div>
            <div class="training-card">
                <h4 class="training-title">Iniciación Python</h4>
                <div class="location-info">
                    <img class="location-icon" src="../../../assets/icons/location-white.png" alt="Localización">
                    <span class="location-text">IBM SkillsBuild</span>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
</section>
